$default-font: "GothamPro", sans-serif;

$black: #000000;
$white: #ffffff;
$red: red;
$gray: #e5e5e5;
$blue-light: #007aff;
$dark-tertiary: #1f2223;
$dark-secondary: rgba(235, 235, 245, 0.6);

$background-main: $gray;
$background-main-frame: $dark-tertiary;
$background-content-frame: $black;
$background-input: $dark-tertiary;

$label-text-size: 13px;
$label-line-height: 22px;
$base-text-size: 17px;
$base-line-height: 22px;
$logo-text-size: 24px;
$logo-line-height: 26px;

$text-color: $white;
$btn-text-color: $white;
$label-text-color: $dark-secondary;
$placeholder-text-color: $dark-secondary;
$border-color: $dark-tertiary;

$btn-color: $blue-light;
$btn-disabled-color: $dark-tertiary;

$input-error-text-size: 10px;
$input-error-line-height: 12px;
$input-error-color: $red;
